name: CI

on:
  pull_request:
    paths:
      - "**.yaml"
      - ".github/workflows/ci.yml"
  schedule:
    # Weekly on Sunday at midnight
    - cron: "0 0 * * 0"

concurrency:
  group: "Only one at a time"
  cancel-in-progress: true

jobs:
  ci:
    name: Building ${{ matrix.file }} / ${{ matrix.esphome-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        #### Modify below here to match your project ####
        file:
          - sensor-pkg-a-c4001-esp32-s3
          - sensor-pkg-a-ld2410-esp32-s3
          - sensor-pkg-a-ld2410s-esp32-s3
          - sensor-pkg-a-ld2450-esp32-s3
          - sensor-pkg-b-c4001-esp32-s3
          - sensor-pkg-b-ld2410-esp32-s3
          - sensor-pkg-b-ld2410s-esp32-s3
          - sensor-pkg-b-ld2450-esp32-s3
        #### Modify above here to match your project ####
        esphome-version:
          - stable
          - dev
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Update reference
        run: |
          echo "Update ref: ${{ github.head_ref || github.ref_name }}"
          sed -i 's|ref:.*$|ref: ${{ github.head_ref || github.ref_name }}|g' ./*.yaml

      - name: ESPHome ${{ matrix.esphome-version }} Factory
        uses: esphome/build-action@v7
        with:
          yaml-file: ${{ matrix.file }}.factory.yaml
          version: ${{ matrix.esphome-version }}

      - name: ESPHome ${{ matrix.esphome-version }}
        uses: esphome/build-action@v7
        with:
          yaml-file: ${{ matrix.file }}.yaml
          version: ${{ matrix.esphome-version }}
