name: Publish Firmware

on:
  workflow_run:
    workflows:
      - Create Pre-release
    types: [completed]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  getReleaseInfo:
    name: Get Release Info
    runs-on: ubuntu-latest
    steps:
      - name: Get Latest Release
        id: getLatestRelease
        uses: cardinalby/git-get-release-action@1.2.5
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          latest: true
          prerelease: true

    outputs:
      summary: ${{ steps.getLatestRelease.outputs.body }}
      url: ${{ steps.getLatestRelease.outputs.html_url }}
      version: ${{ steps.getLatestRelease.outputs.tag_name }}

  buildFirmware:
    name: Build Firmware
    uses: ./.github/workflows/build.yml
    needs:
      - getReleaseInfo
    with:
      files: |
        rev-a-pkg-a-c4001-esp32-s3.factory.yaml
        rev-a-pkg-a-ld2410-esp32-s3.factory.yaml
        rev-a-pkg-a-ld2450-esp32-s3.factory.yaml
        rev-a-pkg-b-c4001-esp32-s3.factory.yaml
        rev-a-pkg-b-ld2410-esp32-s3.factory.yaml
        rev-a-pkg-b-ld2450-esp32-s3.factory.yaml
        rev-b-pkg-a-c4001-esp32-s3.factory.yaml
        rev-b-pkg-a-ld2410-esp32-s3.factory.yaml
        rev-b-pkg-a-ld2410s-esp32-s3.factory.yaml
        rev-b-pkg-a-ld2450-esp32-s3.factory.yaml
        rev-b-pkg-b-c4001-esp32-s3.factory.yaml
        rev-b-pkg-b-ld2410-esp32-s3.factory.yaml
        rev-b-pkg-b-ld2410s-esp32-s3.factory.yaml
        rev-b-pkg-b-ld2450-esp32-s3.factory.yaml
      esphome-version: latest
      # combined-name: project-template
      release-summary: ${{ needs.getReleaseInfo.outputs.summary }}
      release-url: ${{ needs.getReleaseInfo.outputs.url }}
      release-version: ${{ needs.getReleaseInfo.outputs.version }}

  uploadFirmwareToRelease:
    name: Upload Firmware to Release
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.10.0
    needs:
      - getReleaseInfo
      - buildFirmware
    with:
      version: ${{ needs.getReleaseInfo.outputs.version }}
